#grid-container {
	display:  grid;
	height: 100vh; /* This sets the container height to the height of the viewport */
	border: 5px solid black;
	width: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 100px;
	grid-template-areas: 
	"header header header"
	"video form form"
	"video form form";
	
}

#header{
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	grid-area: header; /* This allows for the header div 
	to take up all the space on the top row. */
}


